<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard For Steam</title>
    
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="/static/chart.js" defer></script>
    <script src="/static/chart2.js" defer></script>
    <script src="/static/chart3.js" defer></script>
    <script src="/static/chart4.js" defer></script>
    <script src="/static/chart5.js" defer></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Steam Games and Genres Dashboard</h1>
    <div class="container">
        <div id="chart2div"></div>
        <div id="chartdiv"></div>
    </div>
    <div>
        <div id="chart3div"></div>   
    </div>
    <div class="container2">
        <div id="chart4div"></div>
        <div class="chart-with-title">
            <element id="charttitle">Most Popular Genres in the Past 3 Years</element>
            <div id="chart5div"></div>
        </div>
    </div>
</div>
</body>
</html>
